<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="./style/screen.css"/>
  </head>
  <body>
    <div class="contaniner">
      <h1>“移动4G”第34届重庆市大学生“校园之春”十大歌手大赛</h1>
      <ul class="voters">
        <% voters.forEach(function(v) { %>
        <li class="vote" data-vote="<%=v.id%>">
          <div class="vote-avatar" style="background-image: url('<%= v.avatar %>')"></div>
          <div class="vote-container">
            <div class="vote-top <%= v.sex == 'male' ? 'blue' : 'red'%>"></div>
            <div class="vote-bottom <%= v.sex == 'male' ? 'blue' : 'red'%>"></div>
          </div>
          <div class="vote-number"><%=v.voteNumber%>票</div>
          <div class="vote-name"><%=v.name%></div>
        </li>
        <%})%>
      </ul>
    </div>
    <script src="./sio/socket.io.js"></script>
    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/screen.js"></script>
  </body>
</html>
